language: node_js

node_js:
  - "6"
  - "8"

script:
  - if [ "${TRAVIS_BRANCH}" == "master" ] || [ "${VARIABLE}" == "develop" ]; then export NODE_ENV=23; fi
  - npm run nyan

sudo: false
cache: yarn

notifications:
  email: false
